
/*#icon-NounCaptcha.icon32 {
	background: url(../images/nouncaptcha-logo-32x32.png) 0px 0px no-repeat;
}*/

.wrap h1 {
	margin-bottom: 1em;
}
.postbox h2 {
	padding: 12px;
}
#nouncaptcha-preview ul {
	list-style: none;
}

#nouncaptcha-preview li {
    display: inline-block;
}
#nouncaptcha-preview li.answer {
    border: lightgreen solid 2px ;
}
